.App {
  text-align: center;
}

.box {
  border: 1px solid blue;

  margin-right: 10px;
  padding: 10px;
}

.box:hover {
  background-color: #58819c;
}

.low {
  background-color: rgb(231, 163, 176);
}

.med {
  background-color: rgb(224, 98, 121);
}

.high {
  background-color: rgb(212, 34, 66);
}

.selected-lvl {
  background-color: #0c93ec;
}
